{% if ip_address | length > 0 %}
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: idp-endpoint
  namespace: platform-management
spec:
  secretName: idp-endpoint
  duration: 2160h # 90d
  renewBefore: 360h # 15d
  subject:
    organizations:
      - {{pki_org}}
  commonName: idp.{{ts_suffix}}
  isCA: false
  privateKey:
    algorithm: RSA
    encoding: PKCS1
    size: 2048
  usages:
    - server auth
  dnsNames:
    - idp.{{ts_suffix}}
  uris:
    - spiffe://cluster.local/ns/default/sa/default
  ipAddresses:
    - {{ip_address}}
  issuerRef:
    name: cfssl-internal-ca
    kind: ClusterIssuer
    group: cfssl-issuer.wikimedia.org
{% endif %}
---
apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: idp
  namespace: platform-management
spec:
  gatewayClassName: cilium
  listeners:
{% if ip_address | length > 0 %}
  - protocol: HTTPS
    port: 8443
    name: platform-gateway-https
    allowedRoutes:
      namespaces:
        from: Same
    hostname: idp.{{ts_suffix}}
    tls:
      certificateRefs:
      - kind: Secret
        name: idp-endpoint
{% else %}
  - protocol: HTTP
    port: 8080
    name: platform-gateway-http
    allowedRoutes:
      namespaces:
        from: Same
    hostname: idp.{{ts_suffix}}
{% endif %}
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: http-zitadel
  namespace: platform-management
spec:
  parentRefs:
  - group: gateway.networking.k8s.io
    kind: Gateway
    name: idp
    namespace: platform-management
  rules:
  - backendRefs:
    - group: ""
      kind: Service
      name: idp-zitadel-login
      port: 3000
      weight: 1
    matches:
    - path:
        type: PathPrefix
        value: /ui/v2/login
---
apiVersion: gateway.networking.k8s.io/v1
kind: GRPCRoute
metadata:
  name: grpc-zitadel
  namespace: platform-management
spec:
  parentRefs:
  - group: gateway.networking.k8s.io
    kind: Gateway
    name: idp
    namespace: platform-management
  rules:
  - backendRefs:
    - group: ""
      kind: Service
      name: idp-zitadel
      port: 8080
      weight: 1
