---

env:

- name: ZITADEL_DATABASE_POSTGRES_HOST
  value: tooling-rw

- name: ZITADEL_DATABASE_POSTGRES_PORT
  value: "5432"

- name: ZITADEL_DATABASE_POSTGRES_DATABASE
  value: zitadel

- name: ZITADEL_DATABASE_POSTGRES_USER_USERNAME
  value: app

- name: ZITADEL_DATABASE_POSTGRES_ADMIN_USERNAME
  value: app

- name: ZITADEL_DATABASE_POSTGRES_USER_PASSWORD
  valueFrom:
    secretKeyRef:
      name: tooling-app
      key: password

- name: ZITADEL_DATABASE_POSTGRES_ADMIN_PASSWORD
  valueFrom:
    secretKeyRef:
      name: tooling-app
      key: password

- name: ZITADEL_DATABASE_POSTGRES_USER_SSL_MODE
  value: disable

- name: ZITADEL_DATABASE_POSTGRES_ADMIN_SSL_MODE
  value: disable

#- name: ZITADEL_DATABASE_ZITADEL_USER_SSL_CERT
#  valueFrom:
#    secretKeyRef:
#      name: tooling-ca
#      key: ca.crt

#- name: ZITADEL_DATABASE_ZITADEL_USER_SSL_KEY
#  valueFrom:
#    secretKeyRef:
#      name: tooling-ca
#      key: ca.key

replicaCount: 1

zitadel:
  masterkeySecretName: existing-zitadel-masterkey
  configmapConfig:
    ExternalSecure: true
    ExternalDomain: idp.{{ts_suffix}}
    ExternalPort: 8443
    TLS:
      Enabled: false
    Database:
      Postgres:
        MaxOpenConns: 20
        MaxIdleConns: 10
        MaxConnLifetime: 30m
        MaxConnIdleTime: 5m
    FirstInstance:
      Org:
        Human:
          Username: {{username}}
          Password: {{password}}