datasource:
  Ec2:
    metadata_urls: ["http://{{ metadata_ipaddr }}:7172"]
    strict_id: false
system_info:
  default_user:
    name: tink
    groups: [wheel, adm]
    sudo: ["ALL=(ALL) NOPASSWD:ALL"]
    shell: /bin/bash
manage_etc_hosts: localhost
network:
  config: disabled
warnings:
  dsid_missing_source: off