variant: flatcar
version: 1.1.0
kernel_arguments:
  should_exist:
    - flatcar.autologin
storage:
  directories:
    - path: /etc/kubernetes/manifests
  links:
    - target: /opt/extensions/kubernetes/kubernetes-v1.33.2-x86-64.raw
      path: /etc/extensions/kubernetes.raw
      hard: false
  files:
    # CA
    - path: /etc/ssl/certs/microcloud.pem
      contents:
        local: bundle.crt
    # kubernetes
    - path: /etc/sysupdate.kubernetes.d/kubernetes-v1.33.conf
      contents:
        source: http://registry.ring0:8080/assets/flatcar/extensions/kubernetes-v1.33.conf
    - path: /etc/sysupdate.d/noop.conf
      contents:
        source: http://registry.ring0:8080/assets/flatcar/extensions/noop.conf
    - path: /opt/extensions/kubernetes/kubernetes-v1.33.2-x86-64.raw
      contents:
        source: http://registry.ring0:8080/assets/flatcar/extensions/kubernetes-v1.33.2-x86-64.raw
    - path: /etc/containerd/config.toml
      contents:
        inline: |
          version = 2

          # persistent data location
          root = "/var/lib/containerd"
          # runtime state information
          state = "/run/containerd"
          # set containerd as a subreaper on linux when it is not running as PID 1
          subreaper = true
          # set containerd's OOM score
          oom_score = -999
          disabled_plugins = []

          # grpc configuration
          [grpc]
          address = "/run/containerd/containerd.sock"
          # socket uid
          uid = 0
          # socket gid
          gid = 0

          [plugins."io.containerd.runtime.v1.linux"]
          # shim binary name/path
          shim = "containerd-shim"
          # runtime binary name/path
          runtime = "runc"
          # do not use a shim when starting containers, saves on memory but
          # live restore is not supported
          no_shim = false

          [plugins."io.containerd.grpc.v1.cri"]
          # enable SELinux labeling
          enable_selinux = true
          # airgap registry
          sandbox_image = "registry.ring0:5000/registry.k8s.io/pause:3.10"

          [plugins."io.containerd.grpc.v1.cri".containerd.runtimes.runc]
          # setting runc.options unsets parent settings
          runtime_type = "io.containerd.runc.v2"
          [plugins."io.containerd.grpc.v1.cri".containerd.runtimes.runc.options]
          SystemdCgroup = true
systemd:
  units:
    ###########################################################################
    # Utilities
    - name: docker.service
      mask: true
    - name: docker.socket
      mask: true
    - enabled: true
      name: sshd.service
    - name: systemd-sysupdate.timer
      enabled: true
    - name: locksmithd.service
      mask: true
    ###########################################################################
    # Kubernetes
    - name: systemd-sysupdate.service
      dropins:
        - name: kubernetes.conf
          contents: |
            [Service]
            ExecStartPre=/usr/bin/sh -c "readlink --canonicalize /etc/extensions/kubernetes.raw > /tmp/kubernetes"
            ExecStartPre=/usr/lib/systemd/systemd-sysupdate -C kubernetes update
            ExecStartPost=/usr/bin/sh -c "readlink --canonicalize /etc/extensions/kubernetes.raw > /tmp/kubernetes-new"
            ExecStartPost=/usr/bin/sh -c "if ! cmp --silent /tmp/kubernetes /tmp/kubernetes-new; then touch /run/reboot-required; fi"
    - name: kubelet.service
      enabled: true
    - name: kubeadm-join.service
      enabled: true
      contents: |
        [Unit]
        Description=Kubeadm join service
        Requires=containerd.service
        After=containerd.service
        After=network-online.target
        After=cloud-init.service
        ConditionPathExists=/var/lib/kubeadm/kubeadm-join-config.yaml
        [Service]
        ExecStart=/usr/bin/kubeadm join --config /var/lib/kubeadm/kubeadm-join-config.yaml
        [Install]
        WantedBy=multi-user.target
    - name: containerd.service
      dropins:
        - name: airgap.conf
          contents: |-
            [Service]
            Environment=CONTAINERD_CONFIG=/etc/containerd/config.toml
