apiVersion: tinkerbell.org/v1alpha1
kind: Hardware
metadata:
  name: test-vm
  namespace: tinkerbell-system
spec:
  disks:
    - device: /dev/sda
  interfaces:
    - dhcp:
        arch: x86_64
        hostname: test-vm
        ip:
          address: 192.168.3.148
          gateway: 192.168.3.1
          netmask: 255.255.255.0
        lease_time: 86400
        mac: 10:66:6a:07:8d:0d
        name_servers:
          - 192.168.3.7
        uefi: true
      netboot:
        allowPXE: true
        allowWorkflow: true
---
apiVersion: tinkerbell.org/v1alpha1
kind: Template
metadata:
  name: test-template
  namespace: tinkerbell-system
spec:
  data: |
    name: test-template
    version: "0.1"
    global_timeout: 600
    tasks:
    - name: "os installation"
      worker: "{{ .machine_mac }}"
      volumes:
      - /dev:/dev
      - /dev/console:/dev/console
      actions:
      - name: "echome"
        image: registry.ring0:5000/jacobweinstock/waitdaemon:0.2.1
        timeout: 600
        pid: host
        command:
        - echo "Hello, this is {{ .machine_mac }}"
        - echo "Ending script here"
        environment:
          IMAGE: alpine
          WAIT_SECONDS: 60
        volumes:
        - /var/run/docker.sock:/var/run/docker.sock
---
apiVersion: tinkerbell.org/v1alpha1
kind: Workflow
metadata:
  name: test-workflow
  namespace: tinkerbell-system
spec:
  templateRef: test-template
  hardwareRef: test-vm
  hardwareMap:
    machine_mac: 10:66:6a:07:8d:0d
