authentik:
  secret_key: {{secret_key}}
  # This sends anonymous usage-data, stack traces on errors and
  # performance data to sentry.io, and is fully opt-in
  error_reporting:
    enabled: true

server:
    ingress:
      enabled: true
      hosts:
      - idp.{{ts_suffix}}

postgresql:
  enabled: false
redis:
  enabled: true

global:
  env:
  - name: AUTHENTIK_POSTGRESQL__HOST
    value: tooling-rw
  - name: AUTHENTIK_POSTGRESQL__NAME
    value: authentik
  - name: AUTHENTIK_POSTGRESQL__USER
    value: app
  - name: AUTHENTIK_POSTGRESQL__PASSWORD
    valueFrom:
      secretKeyRef:
        name: tooling-app
        key: password