apiVersion: v1
kind: Service
metadata:
  annotations:
    tailscale.com/expose: "true"
    tailscale.com/hostname: "{{cluster_name}}"
  labels:
    kamaji.clastix.io/component: service
    kamaji.clastix.io/name: {{cluster_name}}
    kamaji.clastix.io/project: kamaji
  name: {{cluster_name}}
  namespace: {{namespace}}
spec:
  internalTrafficPolicy: Cluster
  ipFamilies:
  - IPv4
  ipFamilyPolicy: SingleStack
  ports:
  - name: kube-apiserver
    port: 6443
    protocol: TCP
    targetPort: 6443
  selector:
    kamaji.clastix.io/name: {{cluster_name}}
  sessionAffinity: None
  type: ClusterIP
